# The API Server Base URL (e.g. backend mount point)
NEXT_PUBLIC_API_URL="http://localhost:3001/api/v1"

# The MathJax version to retrieve from the CDN (defaults to v3)
NEXT_PUBLIC_MATHJAX_VERSION="3"
